<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.template.repo.mapper.AuthRoleIdxMapper">
    <resultMap id="BaseResultMap" type="com.example.template.repo.entity.AuthRoleIdx">
        <!--@mbg.generated generated on Thu Sep 07 15:32:54 CST 2023.-->
        <!--@Table t_auth_role_idx-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="auth_code" jdbcType="VARCHAR" property="authCode"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Thu Sep 07 15:32:54 CST 2023.-->
        id, role_code, auth_code, create_by, create_time
    </sql>
</mapper>