<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tunan.template.repo.mapper.AuthorizationMapper">
    <resultMap id="BaseResultMap" type="co.tunan.template.repo.entity.Authorization">
        <!--@mbg.generated generated on Tue Jan 10 16:18:05 CST 2023.-->
        <!--@Table t_authorization-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_del" jdbcType="BOOLEAN" property="isDel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Tue Jan 10 16:18:05 CST 2023.-->
        id, code, `name`, description, authority, `type`, parent_code, create_by, create_time,
        is_del
    </sql>
    <sql id="Named_Column_List">
        <!--@mbg.generated generated on Tue Jan 10 16:18:05 CST 2023.-->
        <!--@sql SELECT -->
        da.id, da.code, da.`name`, da.description, da.authority, da.`type`, da.parent_code, da.create_by,
        da.create_time,
        da.is_del
        <!--@sql FROM t_authorization da -->
    </sql>

    <select id="findAuthorizationByRoleCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Named_Column_List"/>
        FROM t_authorization AS da,
        t_auth_role_idx AS dari
        <where>
            da.code = dari.auth_code
            AND
            da.is_del = 0
            AND
            dari.role_code = #{roleCode}
        </where>
    </select>
</mapper>